.idea/
backend/.env
env/
__pycache__/
*.log

.vscode
.mypy_cache
docker-stack.yml

package-lock.json


.DS_Store
node_modules/
/dist
.envs/
.envs/*
frontend/.env
config.ini
res/
res/*

### Java Spring ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/